@charset "utf-8";
* { margin: 0; padding: 0;}
body,html { width: 100%; overflow-x: hidden; }
ul { list-style: none;}
a { text-decoration: none;}
button,img,input{ outline: 0; background-color: none; border:0;}
