@charset "UTF-8";

.wrap {width: 100%; }
.clrfx:after { content:""; display: block; clear:both;}
.hd,.content,.ft { width: 1200px; height:100px; margin: 0 auto; }
.logo {display: block; width: 200px; height:40px; background-image: url("./source/Header/logo.gif"); float:left; margin-top: 30px; }

.gnb { float: right; margin-top: 40px; }

.gnb li { float: left; width: 150px; height: 35px; line-height: 35px; position:relative;}
.gnb li.dp1 a.dp1_a { display: block; width: 100%; height: 35px; line-height: 35px; font-size : 18px; text-align: center; background-color:#fff; color: black; font-weight: 700; border-top:1px solid; box-sizing: border-box; border-bottom: 2px solid #000; }
.gnb li:first-child a.dp1_a { border-left: 1px solid #000;}
.gnb li:last-child a.dp1_a {border-right: 1px solid #000;} 

.gnb .sub { opacity:0; visibility: hidden; transition: 0.7s; border-bottom:1px solid #000; height:140px; position:absolute; top: 35px; left: 0; background-color:#fff; z-index: 99;} 
.gnb .sub01 { border-left:1px solid #000; }
.gnb .sub04 { border-right:1px solid #000; }
.gnb .sub li { clear: both;  width: 150px; }

.gnb .sub li.sub_lst a { display: block; width: 100%; height: 35px; line-height: 35px; font-size : 18px; text-align: center; color: black; font-size: 15px;}



.gnb:hover .sub { opacity: 1; visibility:visible; }
.gnb li.dp1:hover a.dp1_a { background-color: firebrick; color:#fff;}
.gnb .sub li.sub_lst:hover a { background-color: firebrick; color:#fff;}

/*figure*/
.vs { width: 1200px; height:300px; overflow: hidden;}
.vs ul.img_box { width:100%; height: 900px; margin: 0 auto;  }
.vs li { width: 1200px; height: 300px; position:relative; margin: 0 auto; }
.vs li img { display: block; width:1200px; height: 300px; }
.vs li .txt { width: 1000px; height: 100px; position: absolute; top:40%; left:10%; font-size: 30px; color:#fff; }

.content{ width: 1200px; height: 200px; overflow: hidden; position: relative; }
.content .col_item { width: 500px; height:30px; float:left; position: relative;}

.content .btn_fr{ position: absolute; left: 10px; top: 0px;  }
.content .btn_fr button { display: block; width: 100px; height: 30px; color: #333;  line-height: 30px; float: left; border-radius: 5px 5px 0px 0px ; cursor: pointer;}
.content .btn_fr button.active { background-color:darkred; color:#fff; }
.con_fr { width: 480px; height: 170px; margin-top: 30px;}
/*.con_fr div { position: absolute; }*/
.con_fr .tb { width: 480px; height: 170px; display: table; border-collapse: collapse;}
.con_fr .tb a{ color: #000;}
.con_fr .tb tr { display: table-row; border-top: 1px solid #aaa }
.con_fr .tb thead tr { background-color: #eecc88; }
.con_fr .tb tbody:last-child tr{ border-bottom: 1px solid #aaa;}
.con_fr .tb th, .con_fr .tb td { display: table-cell; height: 30px; text-align: center;}

.con_fr .tb .cel1 {width: 100px;}
.con_fr .tb .cel2 {width: 280px;}
.con_fr .tb .cel2 a { display: block; width:280px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.con_fr .tb .cel3 {width: 100px; }

.con_fr .gall_box { width: 500px; height:170px; }
.con_fr .gall_box a { display: block; width: 120px; height: 120px; float: left; padding: 10px 20px; }

/*banner */
.banner {float:left; width: 300px; height: 200px;}
.content .banner img { display: block; width:227px; height:200px; margin: 0 auto; margin-top: 2px;}

/*바로가기*/
.content .go_st { width:350px; height: 200px; float:left;  }
.go_st a{ display: block; width: 400px; height: 60px; border:1px solid #ddd;  box-sizing: border-box; clear:both; line-height: 60px; margin: 5px 0; text-align: center;}


/*footer*/
.ft { width: 1200px; height: 200px; overflow: hidden; padding-top: 10px;  top: 10px;}
.ft_box { width: 1150px; height: 90px; float:left; }
.ft a.logo { display: block; background-image: url("./source/Header/logo.gif"); background-repeat: no-repeat; width: 200px; height: 40px; background-position: center center; text-indent: -9999px; margin-top: 30px;}

.ft_box { float: left; width: 1000px; }
.ft_box .copy  { width: 700px; height:90px; }
.ft_box .copy li { width:700px; height:90px; padding:20px 0;text-align: center; margin-top: 20px; }

.ft_box .sns { width: 300px; height: 90px; float:right; margin-top: -60px;  }
.ft_box .sns a { display: block; height:40px; width: 40px; border:1px solid #000; float:left; text-align: center; margin-left: 20px; line-height: 40px;}
